.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;

  @include on-tablet {
    padding: 100px 0;
  }

  @include on-desktop {
    padding: 150px 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  transition: max-height 0.3s ease-out;

  @include on-tablet {
    gap: 20px;
  }

  @include on-desktop {
    gap: 24px;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 20px 10px;
  width: 80%;
  border-radius: 15px;
  background-color: $footer-green-color;
  white-space: nowrap;
  box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.5);
  border: 1px solid $soft-grey;

  @include on-tablet {
    width: 100%;
    padding: 20px 50px;
    gap: 15px;
  }

  @include on-desktop {
    padding: 25px 250px;
  }

  @include hover(box-shadow, 0px 10px 15px -12px rgba(0, 0, 0, 0.5))
}

.item:nth-child(even) {
  background-color: $little-home-bakery-pink;
}

.subtitle {
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  padding: 20px 120px;

  @include on-desktop {
    text-transform: uppercase;
    font-size: 35px;
  }
}

.dropdownBtn {
  position: absolute;
  right: 15px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: $very-light-green-color;
  border-radius: 10px;
  cursor: pointer;

  @include on-desktop {
    right: 25px;
    top: 50px;
    width: 40px;
    height: 40px;
  }

  @include hover(transform, scale(1.1));
}

.icon {
  width: 25px;
  height: 25px;
  fill: $dark-grey-color;
  stroke: $dark-grey-color;

  @include on-tablet {
    width: 30px;
    height: 30px;
  }

  @include on-desktop {
    width: 35px;
    height: 35px;
  }
}

