.aboutUs {
  background-color: $very-light-green-color;

  @include on-tablet {
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
  }
}

.aboutUsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include on-tablet {
    display: grid;
    --columns: 9;
    column-gap: 16px;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 10px 16px;
  }

  @include on-desktop {
    --columns: 10;
    gap: 16px;
  }
}

.content {
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
  border-top: none;
  border-radius: 4px;
  max-width: 320px;

  @include on-tablet {
    display: grid;
    grid-row: 1;
    grid-column: 1 / -1;
    max-width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
  }
}

.description {
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  padding: 45px 20px;

  @include on-tablet {
    align-self: center;
    grid-column: 4 / span 3;
    font-size: 18px;
    line-height: 1.4;
    padding: 0 10px;
    grid-row: 1;
    margin-bottom: 30px;
  }

  @include on-desktop {
    font-size: 25px;
    line-height: 1.5;
  }

  @include on-desktop-xl {
    font-size: 30px;
    line-height: 1.8;
  }
}

.exploreMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $very-light-blue-color;
  border-radius: 40px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  border: 1px solid $dark-grey-color;
  box-shadow: 0 1px 6px 0 #2e2f4214, 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: all 0.3s ease-in-out;

  @include hover(background-color, $light-green-color, box-shadow, 0px 10px 20px -10px rgba(0, 0, 0, 0.5));

  &:focus {
    background-color: $light-green-color;
  }

  @include on-tablet {
    grid-column: 4 / span 3;
    margin-bottom: 30px;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 0;
    justify-self: center;
  }

  @include on-desktop {
    grid-column: 5 / span 2;
  }

}

.exploreMenuLink {
  font-size: 20px;
  text-decoration: none;
  color: $main-text-color;
}

.img,
.imgFirst {
  display: none;

  @include on-tablet {
    display: block;
    grid-column: 7 / span 3;
    grid-row: 1;
  }

  @include on-desktop {
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
  }
}

.imgFirst {
  @include on-tablet {
    grid-column: 1 / span 3;
  }
}

.welcome {
  @include on-tablet {
    display: block;
    font-family: $dancing-font;
    font-weight: 700;
    font-size: 33px;
  }

  @include on-desktop {
    font-size: 40px;
  }

  @include on-desktop-xl {
    font-size: 52px;
  }
}

.picturesBlock {
  display: none;

  @include on-tablet {
    display: contents;
    grid-column: 1 / -1;
  }
}

.picturesBlock img {
  width: 100%;
  object-fit: cover;
}

.pictWide {
  @include on-tablet {
    grid-column: 1 / span 6;
  }

  @include on-desktop {
    display: none;
  }
}

.pict1 {
  grid-column: 7 / span 3;
  height: 100%;

  @include on-desktop {
    grid-row: 2 / 3;
    grid-column: 8 / span 3;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
  }
}

.pict2 {
  display: none;

  @include on-desktop {
    display: block;
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
}

.pictWideDesk {
  display: none;

  @include on-desktop {
    display: block;
    grid-column: 4 / span 4;
    grid-row: 2;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
}