.aboutUs {
  padding: 100px 0 100px;
  background-color: $very-light-green-color;

  @include on-tablet {
    padding: 150px 0;
  }
}

.aboutUsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include on-tablet {
    gap: 100px;
  }
}

.content {
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
  border-top: none;
  border-radius: 4px;
  max-width: 320px;
}

.img {
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid $main-text-color;
}

.swiperAbout {
  margin-bottom: 30px;
}

.about-us-desc {
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  padding: 45px 20px;
}

.explore-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebedee;
  border-radius: 40px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  border: 1px solid grey;
  box-shadow: 0 1px 6px 0 #2e2f4214, 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: all 0.3s ease-in-out;
}

.explore-menu-link {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-decoration: none;
  color: #2e2f42;
}

.explore-menu-button:focus,
.explore-menu-button:hover {
  background-color: #f5fffa;
}

.swiper .swiper-button {
  color: #f5fffa;
}

.swiper .swiper-pagination-bullet {
  background-color: #f5fffa;
}

@media screen and (min-width: 500px) {
  .about-us-content {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {

  .about-us-content {
    max-width: 700px;
  }

  .about-us-desc {
    font-size: 20px;
    padding: 70px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .about-us-desc {
    font-size: 22px;
  }

  .about-us-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-content {
    max-width: 1200px;
  }

  .about-us-desc {
    font-size: 24px;
  }
}