.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 90%;
  padding: 30px 15px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
  background-color: $white-color;
  border-radius: 12px;

  @include on-tablet {
    width: 370px;
  }

  @include on-desktop {
    width: 500px;
    padding: 40px 25px;
    gap: 20px;

    @include hover(box-shadow, 0px 20px 25px -12px rgba(0, 0, 0, 0.5));
  }
}

.img {
  border-radius: 10px;
  padding: 25px 0;
  background: linear-gradient(135deg, $white-color 0%, $light-color 100%);
  border: 1px solid $very-light-green-color;
}

.name {
  font-family: $dancing-font;
  font-size: 22px;

  @include on-tablet {
    font-size: 25px;
  }

  @include on-desktop {
    font-size: 30px;
  }
}

.list {
  display: flex;
  gap: 8px;
}

.item {
  padding: 5px 10px;
  border: 1px solid $pink-color;
  border-radius: 5px;
  background-color: $very-light-green-color;
  
  @include on-tablet {
    font-size: 18px;
  }

  @include on-desktop {
    padding: 7px 18px;
    font-size: 22px;
  }
}

.price {
  font-size: 18px;

  @include on-tablet {
    font-size: 20px;
  }

  @include on-desktop {
    font-size: 22px;
  }
}

.is-active {
  background-color: $pink-color;
}

.sizeSelected {
  background-color: $little-home-bakery-pink;
}