
$mobile-max-width: 420px;
$tablet-min-width: 768px;
$tablet-max-width: 900px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
$desktop-xl-min-width: 1500px;
$main-font-family: "Playfair Display", serif;
$dancing-font: "Dancing Script", cursive;
$bgc-theme: lavenderblush;
$main-text-color: #2e2f42;
$white-color: #ffffff;
$black-color: #111111;
$dark-grey-color: #3b3e4a;
$pink-color: pink;
$light-freen-color: #f5fffa;
$very-light-green-color: #f8f8f8;