
$mobile-max-width: 420px;
$tablet-min-width: 768px;
$tablet-max-width: 900px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
$desktop-xl-min-width: 1500px;
$main-font-family: "Playfair Display", serif;
$dancing-font: "Dancing Script", cursive;
$bgc-theme: lavenderblush;
$main-text-color: #2e2f42;
$white-color: #ffffff;
$light-color: #f3f3f3;
$black-color: #111111;
$dark-grey-color: #3b3e4a;
$pink-color: pink;
$little-home-bakery-pink: #ffe3e7;
$light-green-color: #f5fffa;
$very-light-green-color: #f8f8f8;
$very-light-blue-color: #ebedee;
$card-color: #5b5a5a;
$button-bcg: #dbe4d5;
$link-color: #1e1e1e;
$bright-pink-color: #ff69b4;
$footer-green-color: #dfeed56b;
$soft-grey: #e0e0e0;
