.modal {
  background-color: rgba(241, 242, 249, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 30px;
}

.btnClose {
  position: absolute;
  top: 5%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $dark-grey-color;
  cursor: pointer;
  padding: 10px;

  @include hover(background-color, $pink-color);

  @include on-desktop {
    padding: 12px 10px;
  }
}

.iconClose {
  width: 14px;
  height: 14px;
  fill: $dark-grey-color;

  @include on-desktop {
    width: 20px;
    height: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-image: url('/img/contact-us.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;

  @include hover(box-shadow, 0 0 8px $dark-grey-color);

  @include on-tablet {
    width: 500px;
    height: 400px;
    gap: 40px;
  }

  @include on-desktop {
    width: 650px;
    height: 500px;
  }
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: $very-light-green-color;
  border-radius: 12px;
  opacity: 0.7;
  padding: 30px 10px;

  @include on-tablet {
    padding: 40px 20px;
    gap: 15px;
  }

  @include on-desktop {
    padding: 50px 20px;
    gap: 20px;
  }
}

.modalTitle {
  font-size: 32px;
  font-family: $dancing-font;

  @include on-tablet {
    font-size: 34px;
  }
}

.text {
  font-size: 18px;
  line-height: 1.3;

  @include on-tablet {
    font-size: 20px;
  }
}

.inquiries {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @include on-tablet {
    width: 40px;
    height: 40px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: $dark-grey-color;
  stroke: $dark-grey-color;

  @include on-tablet {
    width: 35px;
    height: 35px;
  }
}

.link {
  color: inherit;

  @include on-tablet {
    font-size: 20px;
  }

  @include hover(color, $bright-pink-color);
}