.burgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100vw;
  min-height: 100vh;
  transform: translateX(-100%);
  background-color: $bgc-theme;
  pointer-events: none;
  margin-top: 83px;

  @include on-tablet {
    margin-top: 103px;
  }
}

.isOpen {
  transform: translateX(0);
  pointer-events: all;
}

.no-scroll {
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: $main-text-color;
  font-weight: 500;

  @include on-tablet {
    font-size: 24px;
  }
}